* {
    box-sizing: border-box;
}

/* MOBILE */

body{
    max-height: 90vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

header{
    background-color: orange;
    height: 10%;
    width:100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 2rem;
    margin: 1.5rem;
}

.nav{
    margin-right:30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: white;
    display: flex;
}

.nav-mobile{
    width:60px;
    font-size: larger;
    background-color: rgb(105, 105, 105);
    text-align: center;
    border-radius: 20%;
    padding: 5px;
    margin-right: 30px;
}

.nav-mobile:hover{
    cursor: pointer;
    color: black;
}




/* GENERATOR */

.generator{
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 238, 238);
    width:100%;
    height: 76vh;
}

canvas {
    align-self: center;
    display: block;
    margin: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
    border-color: rgb(252, 219, 166);
    border-style: solid;
    border-radius: 5%;
    border-width: 6px;
    margin-left: 2%;
    margin-top: 10px;
    width:300px;
    height: 300px;
}

.control-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 8vh;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

.line-txt{
    width: 60%;
}

.control-box .row{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.btn {
    flex-grow: 1;
    background: #ddd8d8;
    border: 1px solid #ffffff;
    font-size: 13;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    user-select: none;
    white-space: nowrap;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    margin: 3px;
    border-radius: 10px;
    box-shadow: 3px 3px rgba(117, 116, 116, 0.459);
  }

  select{
      font-size: 13;
      text-align: center;
      border-radius: 10%;
      box-shadow: 3px 3px rgba(117, 116, 116, 0.459);
      margin-bottom: 12px;
      width:200px;
      height: 30px;
      margin-top: 10px;
  }

/* GALLERY */

.gallery{
    margin: auto;
    background-color: rgb(238, 238, 238);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* padding-left:3vw;
    padding-right:3vw; */
    /* padding-top: 1vw; */
    padding-bottom: 1vw;
}

.search-bar{
    display: flex;
    height: 80px;
    background-color: honeydew;
    width: 100%;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-left: 2%;
}

.search-logo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    margin-right: 40px;
}

.search-logo span{
    text-decoration: underline;
}

.search-input{
    height: 60vw;
    width:30vw;
    max-height: 30px;
    max-width:900px;
}
.img-container{
    border-radius: 20%;
    margin:auto;
    height: 40vw;
    width: 48%;
}

.gallery .meme-img{
    border-radius: 20%;
    height: 95%;
    width: 95%;
    border-width: 6px;
    border-color: rgb(252, 219, 166);
    border-style: solid;
}

.meme-img:hover{
    cursor: pointer;
    border-color: orange;
}

.about{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 70%;
    width:100vw;
    align-items: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.about img{
    margin-top: 20px;
    border-radius: 50%;
    height: 60%;
}

.about-txt{
    display: flex;
    flex-wrap: wrap;
    width:200px;
    text-align: center;
}

.about-txt h1{
    margin-bottom: 0;
    margin-left:20px;
}



/* SHARE */
.share-window-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 85%;
}

.share-window{
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(172, 153, 253, 0.37);
    height: 400px;
    width:60%;
    max-width: 500px;
    min-width: 350px;
    margin-top: 14vh;
    margin-left: 1vw; 
    padding-top: 18vh;
}

.share-btn {
    background-color: orange;
    border: 1px solid;
    border-color: orange;
    font-size: 20;
    color: rgb(250, 246, 246);
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0 5px;
    user-select: none;
    white-space: nowrap;
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
    margin: 3px;
  }

/* SAVED MEMES */
.saved-memes{
    background-color: rgb(238, 238, 238);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 76vh;
}

.saved-meme{
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.saved-meme:hover{
    cursor: pointer;
    border-color: orange;
}

/* FOOTER */
.copyrights{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 16%;
    background-color: orange;
    padding-top: 1%;
    color: white;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
}

.footer-logo{
    margin-bottom: 10px;
}

/* HELPERS */
.hidden{
    display: none;
}

/* TABLET */
 @media screen and (min-width: 875px){
    /* GENERATOR */

    .nav-mobile{
        display: none;
    }

    .nav-gallery{
        display: block;
        margin-right: 20px;
    }

    .nav-saved{
        display: block;
    }
    
    .nav-gallery:hover{
        color: rgb(0, 0, 0);
    }
    
    .nav-saved:hover{
        color: rgb(0, 0, 0);
    }
    .generator{
        flex-direction: row;
        height: 85%;
    }

    .control-box{
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;
    }

    .control-box .row{
        margin-bottom: 10px;
    }
    canvas{
        width: 70vh;
        height: 70vh;
    }

    .btn{
        font-size: 17;
    }

    .fourth{
        flex-direction: column;
    }
    select{
        font-size: 22;
        height: 50px;
        width:200px;
        margin-bottom: 40px;
        margin-right: auto;
        margin-left: auto;
    }

    /* GALLERY */
    .img-container{
        height: 30vw;
        width: 33%;
    }


    .about-txt{
        text-align: start;
        max-width: 200px;
        margin-left: 10%;
    }

    .about-txt h1{
        margin-left: 0;
    }

    .about img{
        margin-left: 5%;
    }

    /* SAVED MEMES */

    .saved-meme{
        width:400px;
        height:400px;
    }
}

  /* DESKTOP */
 @media screen and (min-width: 1150px){
    /* GENERATOR */
    .control-box{
        margin-bottom:300px;
        /* transform: translateX(-5%); */
        margin-top:70px;
        max-width: 700px;
        /* margin-left: 100px; */
    }

    .row{
        margin: 20px;
    }

    .fourth{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .btn{
        font-size: 15;
    }

    select{
        font-size: 14;
        transform: translateY(35%);
        
    }

    .about{
        transform: translateX(-5%);
    }

    /* SAVED MEMES */
    .saved-meme{
        width:500px;
        height:500px;
    }

}